body {
    text-align: center;
    margin: 0 auto;
    display: block;
}

table {
    margin: 10px auto;
    /* max-width: 80%; */
    width: 60%;
    text-align: left;
}


form {
    margin: 0 auto;
    width: auto;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    background-color: darkgray;
    padding: 20px;
}

h4 {
    text-align: right;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
    float: right;
    width: 100px;
    margin: 0 10px 0 auto;
}

#submit {
    display: block;
    margin-top: 15px;
}

.table-striped {
    width: 60%;
}

td {
    width: 150px;
}

.red {
    background-color: red;
}